<div class="cms-container">
  <span class="cms-flex-item">
    <span
      (click)="backToMain()"
      class="fas fa-arrow-left ml-md-5 ml-3"
      placement="right"
      ngbTooltip="Back to Main Menu"
    ></span>
  </span>
  <h1 class="page-title cms-flex-item">Animals</h1>
</div>
<div class="container mb-3 mt-3">
  <button class="btn btn-success mb-3" (click)="addAnimal()">Add Animal</button>
  <div class="row">
    <div class="col">
      <cms-animal-list
        [page]="pageName"
        (edit)="editAnimal()"
        (animalSelected)="animalSelected($event)"
      ></cms-animal-list>
    </div>
    <div *ngIf="!screenService.isSmallScreen" class="col">
      <ng-container *ngTemplateOutlet="animalDisplay"></ng-container>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col" *ngIf="screenService.isSmallScreen">
      <ng-container *ngTemplateOutlet="animalDisplay"></ng-container>
    </div>
  </div>
</div>

<ng-template #animalDisplay>
  <cms-animal-display
    [$selectedAnimal]="$selectedAnimal"
    [showGoToChild]="showGoToChild"
    (editAnimal)="editAnimal()"
    (goToDamOutput)="goToDam($event)"
    (goToChildEmit)="goToPreviousAnimal()"
  ></cms-animal-display>
</ng-template>

<cms-animal-modal [animal]="$selectedAnimal | async"></cms-animal-modal>
<cms-warning-display></cms-warning-display>
