<div
  class="card"
  *ngIf="$selectedAnimal | async as selectedAnimal"
  [ngClass]="getCSS()"
>
  <div class="card-header d-flex justify-content-between">
    <strong>Tag number - {{ selectedAnimal.tagNumber }}</strong>
    <span
      class="btn badge badge-info badge-pill align-self-center"
      (click)="openEditModal()"
      >Edit Animal</span
    >
  </div>
  <ul class="list-group list-group-flush">
    <li *ngIf="selectedAnimal.managementTag && selectedAnimal.managementTag !== 'null'" class="list-group-item">
      <strong>Management Tag - </strong> {{ selectedAnimal.managementTag }}
    </li>
    <li *ngIf="selectedAnimal.name" class="list-group-item">
      <strong>Name - </strong> {{ selectedAnimal.name }}
    </li>
    <li class="list-group-item">
      <strong>Gender - </strong> {{ selectedAnimal.gender ? selectedAnimal.gender : "M" }}
    </li>
    <li *ngIf="selectedAnimal.birthDate" class="list-group-item">
      <strong>Date of Birth - </strong
      >{{ selectedAnimal.birthDate | date: "dd MMM yyyy" }}
    </li>
    <li *ngIf="selectedAnimal.registered" class="list-group-item">
      <strong>Registered - </strong
      >{{ selectedAnimal.registered ? "Yes" : "No" }}
    </li>
    <li class="list-group-item">
      <strong>Breed - </strong>{{ getBreedName(selectedAnimal) | titlecase }}
    </li>
    <li *ngIf="selectedAnimal.dam" class="list-group-item d-flex">
      <strong>Dam -&nbsp;</strong
      ><span class="flex-grow-1">{{
        damTagNotProvided() ? "Not provided" : selectedAnimal.dam.tagNumber
      }}</span>
      <div>
        <span
          *ngIf="showGoToChild"
          (click)="goToChildEmit.emit({})"
          class="btn badge badge-pill badge-danger mr-1"
          >Back</span
        >
        <span
          *ngIf="!damTagNotProvided()"
          (click)="goToDam(selectedAnimal)"
          class="btn badge badge-pill badge-info"
          >Go to Dam</span
        >
      </div>
    </li>
    <li *ngIf="selectedAnimal.dam"
      class="list-group-item d-flex justify-content-between"
      [formGroup]="notesGroup"
    >
      <div class="flex-shrink-0">
        <strong>Notes -&nbsp;</strong>
        <button
          *ngIf="!selectedAnimal.notes && !isEditNotes"
          class="btn btn-success btn-sm"
          (click)="editNotes()"
        >
          Add Notes
        </button>
      </div>
      <div *ngIf="!isEditNotes">
        {{ selectedAnimal.notes }}
      </div>
      <textarea
        *ngIf="isEditNotes"
        formControlName="notes"
        class="flex-fill mr-1"
        style="height: 81px; resize: none"
      ></textarea>
      <span
        *ngIf="selectedAnimal.notes || isEditNotes"
        class="d-flex flex-column ml-auto justify-content-center"
      >
        <span
          *ngIf="!saving"
          class="badge badge-pill"
          [ngClass]="getCSSForNotesEdit()"
          (click)="editNotes()"
          >{{ !isEditNotes ? "Edit Notes" : "Save Changes" }}</span
        >
        <span
          *ngIf="saving"
          class="badge badge-pill badge-success"
          type="button"
        >
          <span
            class="spinner-border cms-disabled-pill spinner-border-sm"
            role="status"
            aria-hidden="true"
          ></span>
          Saving...
        </span>
        <span
          *ngIf="isEditNotes"
          class="btn badge badge-pill badge-danger mt-1 cms-notes-edit"
          (click)="cancelEdit()"
          >Cancel Edit</span
        >
      </span>
    </li>
    <li class="list-group-item" *ngIf="$sire | async as sire">
      <strong>Sire - </strong
      >{{ sire.name !== "null" ? sire.name : "No sire assigned" }}
      <ul *ngIf="sire.name !== 'null'" style="list-style-type: none">
        <li *ngIf="sire.tagNumber !== 'NA'">&nbsp;{{ sire.tagNumber }}</li>
        <li>&nbsp;{{ getBreedName(sire) | titlecase }}</li>
      </ul>
    </li>
  </ul>
</div>
