<div class="cms-container">
  <span class="cms-flex-item">
    <span
      (click)="backToMain()"
      class="fas fa-arrow-left ml-md-5 ml-3"
      placement="right"
      ngbTooltip="Back to Main Menu"
    ></span>
  </span>
  <h1 class="page-title cms-flex-item">Medication</h1>
</div>
<div class="container">
  <div class="row mb-2">
    <div class="col">
      <button class="btn btn-success" (click)="addMedication()">
        Add Medication
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col mb-2">
      <cms-medication-list [data$]="medications$" (editEmit)="edit($event)"></cms-medication-list>
    </div>
  </div>
</div>
<cms-medication-add-modal></cms-medication-add-modal>
