<cms-header>Births</cms-header>
<div class="mb-3 mt-3 container">
  <div class="row justify-content-center">
    <div class="col"></div>
    <div class="col-5 cms-birth-animal-list">
      <cms-animal-list
        [page]="pageName"
        (add)="addBirth()"
        (edit)="editBirth()"
        (animalSelected)="animalSelected($event)"
      ></cms-animal-list>
    </div>
    <div class="col"></div>
  </div>
</div>

<cms-birth-modal
  [animal]="$selectedAnimal | async"
  [isAdd]="isAdd"
></cms-birth-modal>
<cms-warning-display></cms-warning-display>
