<div class="cms-container">
  <span class="cms-flex-item">
    <span
      (click)="backToMain()"
      class="fas fa-arrow-left ml-5"
      placement="right"
      ngbTooltip="Back to Main Menu"
    ></span>
  </span>
  <h1 class="page-title cms-flex-item">Births</h1>
  <span>
    <div class="mr-5 invisible cms-blank-arrow"></div>
  </span>
</div>
<div class="mb-3 mt-3 container">
  <div class="row justify-content-center">
    <div class="col"></div>
    <div class="col-5 cms-birth-animal-list">
      <cms-animal-list
        [page]="pageName"
        (add)="addBirth()"
        (edit)="editBirth()"
        (animalSelected)="animalSelected($event)"
      ></cms-animal-list>
    </div>
    <div class="col"></div>
  </div>
</div>

<cms-birth-modal
  [animal]="$selectedAnimal | async"
  [isAdd]="isAdd"
></cms-birth-modal>
<cms-warning-display></cms-warning-display>
