<label for="typeahead-focus">{{ label }}</label>
<!-- <input
  id="typeahead-focus"
  type="text"
  class="form-control"
  [formControl]="inputFormControl"
  [typeahead]="dataSorted"
  typeaheadOptionField="medication.name"
  typeaheadGroupField="expired"
  [typeaheadScrollable]="true"
  [typeaheadOptionsInScrollableView]="5"
  [required]="isRequired"
  [typeaheadMinLength]="0"
  (typeaheadOnSelect)="select($event)"
/> -->

<ng-template #resultTemplate let-r="result" let-t="term">
  <ngb-highlight [result]="r.name + ' ' + r.batchNumber" [term]="t"></ngb-highlight>
  <br>
  <span style="color: #ffbf00; font-weight: 500;">
    {{isExpired(r) ? "Expired" : ''}}
  </span>
</ng-template>

<input
  id="typeahead-focus"
  type="text"
  class="form-control"
  [formControl]="inputFormControl"
  [ngbTypeahead]="search"
  (focus)="focus$.next($any($event).target.value)"
  (click)="click$.next($any($event).target.value)"
  [editable]="false"
  [resultTemplate]="resultTemplate"
  [resultFormatter]="formatter"
  [inputFormatter]="formatter"
  #instance="ngbTypeahead"
  [required]="isRequired"
/>
