.animal-button{
    max-width: 400px;
    font-size: clamp(9pt, 2vw, 16px);
    min-width: min-content;
}

.add-weight-button {
    font-size: clamp(9pt, 2vw, 16px);
    width: auto; 
    display: block;
}

/* .list-group{
   
        max-height: 300px;
        margin-bottom: 10px;
        overflow:scroll;
        -webkit-overflow-scrolling: touch;
    
} */

.cms-sticky {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    right: 0;
}