<div class="cms-container">
  <span class="cms-flex-item">
    <span (click)="backToMain()" class="fas fa-arrow-left ml-5" placement="right" ngbTooltip="Back to Main Menu"></span>
  </span>
  <h1 class="page-title cms-flex-item">Animal Weights</h1>
</div>
  
<div class="container mb-3" *ngIf="(searchedAnimals$ | async) as animals">
  <div class="row" [formGroup]="searchBarGroup">
    <div class="col" >
      <ul class="list-group">
        <input class="list-group-item animal-button" type="text" placeholder="Search..." formControlName="searchBar">
        <button class="list-group-item list-group-item-action d-flex justify-content-between align-items-center animal-button"
          *ngFor="let animal of animals, let i = index"
          (click)="selectAnimal(animal)"
        >
          {{ animal.tagNumber }}
          <span class="badge badge-primary badge-pill" (click)="edit()">Edit Weights</span>
        </button>
      </ul>
    </div>
    <div class="col" *ngIf="chartWeights.length > 0">
      <div class="chart-wrapper">
        <canvas
          baseChart
          [datasets]="chartWeights"
          [labels]="chartLabels"
          [options]="chartOptions"
          [colors]=""
          [legend]="showLegend"
          [chartType]="chartType"
          [plugins]="chartPlugins"
        >
        </canvas>
      </div>
    </div>
  </div>

</div>

<cms-edit-weight-modal [animal] ="selectedAnimal"></cms-edit-weight-modal>
