<div class="cms-container">
  <span class="cms-flex-item">
    <span
      (click)="backToMain()"
      class="fas fa-arrow-left ml-md-5 ml-3"
      placement="right"
      ngbTooltip="Back to Main Menu"
    ></span>
  </span>
  <h1 class="page-title cms-flex-item">Animal Weights</h1>
</div>
<div class="container mb-3 mt-3">
  <div class="row">
    <div class="col">
      <button class="btn btn-success mb-2" (click)="bulkAddWeight()">
        Add Bulk Weights
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <cms-animal-list
        [page]="pageName"
        (add)="openAddModal()"
        (edit)="openEditModal()"
        (animalSelected)="animalSelected($event)"
      ></cms-animal-list>
    </div>
    <div *ngIf="!screenSize.isSmallScreen" class="col">
      <div class="mb-4">
        <div class="chart-wrapper cms-sticky" *ngIf="chartWeights">
          <ng-container [ngTemplateOutlet]="avgDailyWeightGain"></ng-container>
          <ng-container [ngTemplateOutlet]="weightCanvas"></ng-container>
        </div>
      </div>
      <div class="">
        <cms-animal-display
          [$selectedAnimal]="$selectedAnimal"
          [basicMode]="true"
          [showGoToChild]="false"
          (editAnimal)="openEditAnimalModal()"
        ></cms-animal-display>
      </div>
    </div>
  </div>
  <div class="row mt-3">
    <div *ngIf="screenSize.isSmallScreen" class="col">
      <div class="chart-wrapper small-screen-graph mb-4" *ngIf="chartWeights">
        <ng-container [ngTemplateOutlet]="avgDailyWeightGain"></ng-container>
        <ng-container [ngTemplateOutlet]="weightCanvas"></ng-container>
      </div>
      <cms-animal-display
        [$selectedAnimal]="$selectedAnimal"
        [basicMode]="true"
        [showGoToChild]="false"
        (editAnimal)="openEditAnimalModal()"
      ></cms-animal-display>
    </div>
  </div>
</div>

<ng-template #weightCanvas>
  <canvas
    baseChart
    class="chart"
    [data]="chartWeights"
    [options]="chartOptions"
    [type]="chartType"
  >
  </canvas>
</ng-template>

<ng-template #avgDailyWeightGain>
  <div>
    <strong>Avg Daily Weight Gain:</strong> {{ dailyWeightGain }} Kg/day
  </div>
</ng-template>

<cms-weight-modal
  [isAddMode]="isAddMode"
  [animal]="selectedAnimal"
></cms-weight-modal>
<cms-warning-display></cms-warning-display>

<cms-bulk-weight-modal style="min-height: 400px"></cms-bulk-weight-modal>
<cms-animal-modal [animal]="$selectedAnimal | async"></cms-animal-modal>
