.animal-button{
    max-width: 450px;
    font-size: clamp(9.5pt, 2vw, 17px);
    min-width: min-content;
}

.cms-sticky {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    right: 0;
}

.small-screen-graph{
    max-width: 400px;
}

.badge-pill{
    font-size: 90%;
    font-weight: 600;
}