<ngx-smart-modal [identifier]="identifier" #bulkWeightModal>
  <h4 class="text-center">Add Weights</h4>
  <div class="cms-form">
    <form [formGroup]="bulkWeightForm">
      <div
        [ngClass]="
          correctWeights?.length > 0 ||
          notFoundWeights?.length > 0 ||
          duplicateWeights?.length > 0
            ? 'mb-2 mt-2'
            : 'mb-5 mt-4'
        "
        class="input-group"
      >
        <div class="custom-file" style="min-width: 2px">
          <input
            (change)="checkFile($event.target.files[0])"
            formControlName="inputFile"
            type="file"
            class="custom-file-input"
            id="choose-weight-file"
            aria-describedby="upload-button"
            accept=".csv, .txt"
            style="max-width: 150px"
            #upload
          />
          <label
            class="custom-file-label text-truncate d-block"
            for="choose-weight-file"
            >{{ labelText }}</label
          >
        </div>
        <div class="input-group-append">
          <button
            class="btn btn-outline-secondary"
            type="button"
            id="upload-button"
            (click)="upload.click()"
          >
            Browse
          </button>
        </div>
        <div class="input-group-append">
          <button
            class="btn btn-success"
            type="button"
            id="check-button"
            [disabled]="!selectedFile"
            (click)="saveWeights()"
            ngbPopover="Weights Added!"
            #saveConfirm="ngbPopover"
            placement="bottom"
            popoverClass="update-success"
            triggers="manual"
          >
            Save Weights
          </button>
        </div>
      </div>
    </form>
  </div>
  <ng-container
    [ngTemplateOutlet]="weightTable"
    [ngTemplateOutletContext]="correctWeightsTemplateData"
  ></ng-container>
  <ng-container
    [ngTemplateOutlet]="weightTable"
    [ngTemplateOutletContext]="duplicateWeightsTemplateData"
  ></ng-container>
  <ng-container
    [ngTemplateOutlet]="weightTable"
    [ngTemplateOutletContext]="notFoundWeightsTemplateData"
  ></ng-container>
</ngx-smart-modal>

<ng-template #weightTable let-weightArray="weightArray" let-title="title">
  <div *ngIf="weightArray?.length > 0">
    <strong>
      {{ title }}
    </strong>
    <table class="table table-striped mt-2">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Tag Number</th>
          <th scope="col">Weight</th>
          <th scope="col">Date</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let weight of weightArray; let number = index">
          <th scope="row">{{ number + 1 }}</th>
          <td>{{ weight.id }}</td>
          <td>{{ weight.weight }}</td>
          <td>{{ weight.date | date }}</td>
          <td>
            <a class="btn p-0" (click)="openEdit(weight, number)">
              <i class="fa-regular fa-pen-to-square my-auto"></i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</ng-template>


<ngx-smart-modal [identifier]="'editBulkWeightModal'" #editBulkWeightModal>
  <p>It Works</p>
</ngx-smart-modal>
