<div class="cms-container">
  <span class="cms-flex-item">
    <span
      (click)="backToMenu()"
      class="fas fa-arrow-left ms-md-5 ms-3"
      placement="right"
      ngbTooltip="Back to Menu"
    ></span>
  </span>
  <h1 class="page-title cms-flex-item">Cull Update</h1>
</div>
<div class="container">
  <div class="row">
    <div class="col">
      <div
        class="list-group mb-2"
        [ngClass]="{ 'cms-list': isSmallScreen }"
        >
        @for (update of cullUpdate; track update) {
          <button
            class="list-group-item list-group-item-action button-text"
            (click)="animalSelected(update)"
            >
            {{ update.tagNumber }}
          </button>
        }
      </div>
    </div>
    @if (!isSmallScreen) {
      <div [ngClass]="{ col: !isSmallScreen }">
        <div class="cms-sticky">
          @if (selectedCullUpdate && $selectedAnimal | async; as animal) {
            <div
              class="card"
              >
              <div class="card-header">
                <strong>{{ selectedCullUpdate.tagNumber }}</strong>
              </div>
              <ul class="list-group list-group-flush">
                @if (selectedCullUpdate.score) {
                  <li class="list-group-item">
                    <strong>Animal score - </strong
                      >{{ selectedCullUpdate.score | number : "1.0-0" }}
                    </li>
                  }
                  @if (selectedCullUpdate.totalCalves == 0) {
                    <li
                      class="list-group-item"
                      >
                      <strong>Animal has no calves</strong>
                    </li>
                  }
                  <li class="list-group-item">
                    <strong>Age - </strong> {{ selectedCullUpdate.age }}
                  </li>
                  @if (selectedCullUpdate.calfDailyWeightGain) {
                    <li
                      class="list-group-item"
                      >
                      <strong>Calf average daily weight gain - </strong>
                      {{ selectedCullUpdate.calfDailyWeightGain | number : "1.0-3" }} Kg
                    </li>
                  }
                  @if (selectedCullUpdate.totalCalves > 0) {
                    <li
                      class="list-group-item"
                      >
                      <strong>Calf tag numbers - </strong>
                      <ul style="list-style-type: none">
                        @for (calf of $calves | async; track calf) {
                          <li>
                            {{ calf.tagNumber }}
                          </li>
                        }
                      </ul>
                    </li>
                  }
                </ul>
              </div>
            }
            <div class="chart-wrapper mt-2" *ngrxLet="chartWeights$ as chartWeights">
              @if (chartWeights.datasets.length > 0) {
                <span class="ms-2 mb-1" style="color: #7e7e7e"
                  ><strong>Calf Weight Gain</strong></span
                  >
                }
                <canvas
                  baseChart
                  [data]="chartWeights"
                  [options]="weightChartOptions"
                  [legend]="false"
                  [type]="'line'"
                  [plugins]="[]"
                  >
                </canvas>
              </div>
              @if (aliveVSDeadData) {
                <div class="chart-wrapper mt-2">
                  <span class="ms-2 mb-1" style="color: #7e7e7e"
                    ><strong>Alive vs Dead Calves</strong></span
                    >
                    <canvas
                      baseChart
                      class="chart"
                      [data]="aliveVSDeadData"
                      [options]="aliveDeadChartOptions"
                      [legend]="true"
                      [type]="'pie'"
                      >
                    </canvas>
                  </div>
                }
              </div>
            </div>
          }
        </div>
        @if (isSmallScreen) {
          <div [ngClass]="{ col: !isSmallScreen }">
            <div class="cms-sticky">
              @if (selectedCullUpdate && $selectedAnimal | async; as animal) {
                <div
                  class="card"
                  >
                  <div class="card-header">
                    <strong>{{ selectedCullUpdate.tagNumber }}</strong>
                  </div>
                  <ul class="list-group list-group-flush">
                    @if (selectedCullUpdate.score) {
                      <li class="list-group-item">
                        <strong>Animal score - </strong
                          >{{ selectedCullUpdate.score | number : "1.0-0" }}
                        </li>
                      }
                      @if (selectedCullUpdate.totalCalves == 0) {
                        <li
                          class="list-group-item"
                          >
                          <strong>Animal has no calves</strong>
                        </li>
                      }
                      <li class="list-group-item">
                        <strong>Age - </strong> {{ selectedCullUpdate.age }}
                      </li>
                      @if (selectedCullUpdate.calfDailyWeightGain) {
                        <li
                          class="list-group-item"
                          >
                          <strong>Calf average daily weight gain - </strong>
                          {{ selectedCullUpdate.calfDailyWeightGain | number : "1.0-3" }} Kg
                        </li>
                      }
                      @if (selectedCullUpdate.totalCalves > 0) {
                        <li
                          class="list-group-item"
                          >
                          <strong>Calf tag numbers - </strong>
                          <ul style="list-style-type: none">
                            @for (calf of $calves | async; track calf) {
                              <li>
                                {{ calf.tagNumber }}
                              </li>
                            }
                          </ul>
                        </li>
                      }
                    </ul>
                  </div>
                }
                <div class="chart-wrapper mt-2" *ngrxLet="chartWeights$ as chartWeights">
                  @if (chartWeights.datasets.length > 0) {
                    <span class="ms-2 mb-1" style="color: #7e7e7e"
                      ><strong>Calf Weight Gain</strong></span
                      >
                    }
                    <canvas
                      baseChart
                      [data]="chartWeights"
                      [options]="weightChartOptions"
                      [legend]="false"
                      [type]="'line'"
                      [plugins]="[]"
                      >
                    </canvas>
                  </div>
                  @if (aliveVSDeadData) {
                    <div class="chart-wrapper mt-2">
                      <span class="ms-2 mb-1" style="color: #7e7e7e"
                        ><strong>Alive vs Dead Calves</strong></span
                        >
                        <canvas
                          baseChart
                          class="chart"
                          [data]="aliveVSDeadData"
                          [options]="aliveDeadChartOptions"
                          [legend]="true"
                          [type]="'pie'"
                          >
                        </canvas>
                      </div>
                    }
                  </div>
                </div>
              }
            </div>

