<ngx-smart-modal  #weightModal identifier="weightModal">
  <div *ngIf="animal">
    <h4 class="text-center">
      {{ isAddMode ? "Add" : "Edit" }} Weight for
      <strong>{{ animal.tagNumber }}</strong>
    </h4>
    <form
      [formGroup]="editWeightForm"
      class="mb-3 mt-2"
      style="width: fit-content; margin-left: 25%"
    >
      <div *ngIf="!isAddMode" class="input-group mb-3 mt-3">
        <select
          formControlName="weightSelect"
          class="custom-select"
          id="inputGroupSelect01"
        >
          <option value="invalid">Select weight to edit</option>
          <option
            *ngFor="let weight of animal.weightData"
            value="{{ weight.id }}"
          >
            {{ weight.weightDate | date: "dd/MM/yyyy" }} -
            {{ weight.weight }} Kg
          </option>
        </select>
      </div>

      <div class="form-group weight-modal-form">
        <label for="newWeight">Enter new weight</label>
        <div
          class="input-group"
          [ngClass]="{ 'was-validated': !weight.valid && weight.dirty }"
        >
          <input
            formControlName="weight"
            class="form-control"
            type="number"
            step="10"
            name="weight"
            required
          />
          <div class="input-group-append">
            <span class="input-group-text">Kg</span>
          </div>
          <div class="invalid-feedback">
            <!-- <div *ngIf="weight.errors">
              <span *ngIf="weight.errors.required">This field is required. </span>
              <span *ngIf="weight.errors.min">Value should be more than 10Kg. </span>
              <span *ngIf="weight.errors.max">Value should be less than 1000Kg. </span>
            </div> -->
            <cms-form-errors [errors]="weight.errors"></cms-form-errors>
          </div>
        </div>
      </div>

      <div class="form-group" [ngClass]="{ 'was-validated': !date.valid && date.dirty }">
        <label for="newDate">Enter new date</label>
        <input
          formControlName="date"
          class="form-control"
          type="date"
          name="date"
          id="newDate"
          required
        />
        <div class="invalid-feedback">
          <cms-form-errors [errors]="date.errors"></cms-form-errors>
        </div>
      </div>
      <div class="form-check" [ngClass]="{ 'was-validated': !weightType.valid && weightType.dirty }">
        <input
          formControlName="weightType"
          value="isSale"
          type="radio"
          name="weightType"
          class="form-check-input"
          id="isSaleRadio"
          required
        />
        <label for="isSaleRadio" class="form-check-label"
          >&nbsp; Is sale weight?</label
        >
      </div>
      <div class="form-check" [ngClass]="{ 'was-validated': !weightType.valid && weightType.dirty }">
        <input
          formControlName="weightType"
          value="isIntermediate"
          type="radio"
          name="weightType"
          class="form-check-input"
          id="isIntermediate"
          required
        />
        <label for="isIntermediate" class="form-check-label" >
          &nbsp; Is intermediate weight?</label
        >
      </div>
      <div class="form-check mb-3" [ngClass]="{ 'was-validated': !weightType.valid && weightType.dirty }">
        <input
          formControlName="weightType"
          value="isInitial"
          type="radio"
          name="weightType"
          class="form-check-input"
          id="isInitialRadio"
          required
        />
        <label for="isInitialRadio" class="form-check-label">
          &nbsp; Is initial weight?</label
        >
        <div class="invalid-feedback">

          <cms-form-errors [errors]="weightType.errors" [isRadio]="true"></cms-form-errors>
        </div>
      </div>

      <button
        class="btn btn-success mr-3"
        (click)="saveChanges()"
        ngbPopover="Update Success!"
        #p="ngbPopover"
        placement="bottom"
        popoverClass="update-success"
        triggers="manual"
      >
        Save Changes
      </button>
      <button type="button" class="btn btn-danger" (click)="closeModal()">
        Close
      </button>
    </form>
  </div>
</ngx-smart-modal>
