<div class="cms-container">
  <span class="cms-flex-item">
    <span
      (click)="backToMain()"
      class="fas fa-arrow-left ml-md-5 ml-3"
      placement="right"
      ngbTooltip="Back to Main Menu"
    ></span>
  </span>
  <h1 class="page-title cms-flex-item">Cow Performance</h1>
</div>
<div class="container mt-2">
  <div class="col">
    <div class="row">
      <button
        type="button"
        class="btn btn-secondary mr-2"
        (click)="weightAnalysis()"
      >
        Weight Analysis
      </button>
      <button type="button" class="btn btn-secondary" (click)="cullUpdate()">
        Cull Update
      </button>
    </div>
  </div>
</div>
