<div class="text-center">
  <h1 class="page-title">Main Menu</h1>
</div>

<div class="container">
  <div class="row">
    <div class="col">
      <img
        class="menu-icon"
        src="assets/cowSilhouette.svg"
        alt="CowDataButton"
      />
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="btn-toolbar">
        <div class="btn-group">
          <button class="btn btn-secondary mr-1 menu-buttons" (click)="weightScreen()">
            Add Weight
          </button>
          <button class="btn btn-secondary mr-1 menu-buttons">
            Add/Edit Animal
          </button>
          <button class="btn btn-secondary mr-1 menu-buttons">Add Birth</button>
          <button class="btn btn-secondary mr-1 menu-buttons">
            Calving Stats
          </button>
          <button class="btn btn-secondary mr-1 menu-buttons">
            Add to BCMS
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <img
        class="medicine-menu-icon"
        src="assets/medicationButton.svg"
        alt="MedicationMenu"
      />
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="btn-toolbar">
        <div class="btn-group">
          <button class="btn btn-secondary mr-1 menu-buttons">
            Add Treatment
          </button>
          <button class="btn btn-secondary mr-1 menu-buttons">
            Add Medication
          </button>
          <button class="btn btn-secondary mr-1 menu-buttons">
            Print Report
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
      <div class="col">
          <img class="user-menu-icon" src="assets/userIcon.svg" alt="UserIcon">
          <div class="btn-toolbar">
              <div class="btn-group">
                <button class="btn btn-secondary mr-1 menu-buttons">
                   Edit User
                  </button>
              </div>
          </div>
      </div>
  </div>
</div>
