.container {
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.alert-warning {
  font-size: clamp(12px, 2vw, 16px);
}

.cow-menu-icon {
  margin-top: 20px;
  width: 8.5vw;
}

.medicine-menu-icon {
  margin-top: 20px;
  margin-bottom: 10px;
  width: 3.5vw;
}

.user-menu-icon {
  margin-top: 20px;
  margin-bottom: 10px;
  width: 5vw;
}

.alert,
.text {
  font-size: clamp(10pt, 2vw, 16px);
}

.menu-buttons {
  font-size: clamp(10pt, 2vw, 15pt);
  min-width: min-content;
  width: fit-content;
  height: fit-content;
}

.dropdown-menu {
  padding: 0 !important;
}

span {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
