<div class="text-center">
  <h1 class="page-title">Main MenuTest</h1>
</div>

<div class="container">
  <div class="row mt-3" *ngIf="$allUnregCalves | async as allUnregCalves">
    <div class="col" *ngIf="allUnregCalves.overdue.length > 0">
      <span
        *ngIf="!(loading | async)"
        class="alert alert-danger btn"
        (click)="registrationScreen()"
        ><strong>
          {{ allUnregCalves.overdue.length }}
          {{ allUnregCalves.overdue.length == 1 ? "calf" : "calves" }}
          {{ allUnregCalves.overdue.length == 1 ? "is" : "are" }}
          overdue registration</strong
        >
        Click to register</span
      >
    </div>
    <div class="col" *ngIf="allUnregCalves.unreg.length > 0">
      <span
        *ngIf="!(loading | async)"
        class="alert alert-warning btn"
        (click)="registrationScreen()"
        ><strong>
          {{ allUnregCalves.unreg.length }}
          {{ allUnregCalves.unreg.length == 1 ? "calf" : "calves" }}
          {{ allUnregCalves.unreg.length == 1 ? "is" : "are" }}
          unregistered</strong
        >
        Click to reisgter</span
      >
    </div>
  </div>
  <div class="row">
    <div class="col" *ngIf="$oldMales | async as oldMales" ngbDropdown>
      <span
        ngbDropdownToggle
        class="alert alert-warning"
        *ngIf="!(loading | async) && oldMales.length > 0"
      >
        <strong
          >There {{ oldMales.length == 1 ? "is" : "are" }}
          {{ oldMales.length }}
          {{ oldMales.length == 1 ? "male" : "males" }} over 36 months on the
          system</strong
        >
      </span>
      <div ngbDropdownMenu>
        <div class="list-group">
          <button
            *ngFor="let male of oldMales"
            type="button"
            class="list-group-item list-group-item-action text"
            ngbDropdownItem
            (click)="openWeightModal(male)"
          >
            Add sale weight - {{ male.tagNumber }}
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <img
        class="menu-icon"
        src="assets/cowSilhouette.svg"
        alt="CowDataButton"
      />
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="btn-toolbar">
        <div class="btn-group">
          <button
            class="btn btn-secondary mr-1 menu-buttons"
            (click)="weightScreen()"
          >
            Animal Weights
          </button>
          <button
            class="btn btn-secondary mr-1 menu-buttons"
            (click)="animalScreen()"
          >
            Add/Edit Animal
          </button>
          <button
            class="btn btn-secondary mr-1 menu-buttons"
            (click)="birthScreen()"
          >
            Add Birth
          </button>
          <button
            class="btn btn-secondary mr-1 menu-buttons"
            (click)="cullUpdate()"
          >
            Cull Update
          </button>
          <button
            class="btn btn-secondary mr-1 menu-buttons"
            (click)="registrationScreen()"
          >
            Calf Registration
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <img
        class="medicine-menu-icon"
        src="assets/medicationButton.svg"
        alt="MedicationMenu"
      />
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="btn-toolbar">
        <div class="btn-group">
          <button class="btn btn-secondary mr-1 menu-buttons" disabled>
            Add Treatment
          </button>
          <button
            class="btn btn-secondary mr-1 menu-buttons"
            (click)="medicationScreen()"
          >
            Add Medication
          </button>
          <button class="btn btn-secondary mr-1 menu-buttons" disabled>
            Print Report
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <img class="user-menu-icon" src="assets/userIcon.svg" alt="UserIcon" />
      <div class="btn-toolbar">
        <div class="btn-group">
          <button class="btn btn-danger mr-1 menu-buttons" (click)="logout()">
            Log Out
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<cms-weight-modal
  [animal]="selectedAnimal"
  [isAddMode]="true"
></cms-weight-modal>
