<div class="text-center">
  <h1 class="page-title">Main Menu</h1>
</div>

<div class="container">
  <div class="row">
    <div class="col" *ngIf="$oldMales | async as oldMales">
      <span
        class="alert alert-warning"
        *ngIf="!(loading | async) && oldMales.length > 0"
      >
        <strong
          >There are {{ oldMales.length }} males over 36 months on the
          system</strong
        >
      </span>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <img
        class="menu-icon"
        src="assets/cowSilhouette.svg"
        alt="CowDataButton"
      />
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="btn-toolbar">
        <div class="btn-group">
          <button
            class="btn btn-secondary mr-1 menu-buttons"
            (click)="weightScreen()"
          >
            Animal Weights
          </button>
          <button
            class="btn btn-secondary mr-1 menu-buttons"
            (click)="animalScreen()"
          >
            Add/Edit Animal
          </button>
          <button
            class="btn btn-secondary mr-1 menu-buttons"
            (click)="birthScreen()"
          >
            Add Calf
          </button>
          <button
            class="btn btn-secondary mr-1 menu-buttons"
            (click)="cullUpdate()"
          >
            Cull Update
          </button>
          <button
            class="btn btn-secondary mr-1 menu-buttons"
            (click)="registrationScreen()"
          >
            Add to BCMS
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <img
        class="medicine-menu-icon"
        src="assets/medicationButton.svg"
        alt="MedicationMenu"
      />
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="btn-toolbar">
        <div class="btn-group">
          <button class="btn btn-secondary mr-1 menu-buttons">
            Add Treatment
          </button>
          <button class="btn btn-secondary mr-1 menu-buttons">
            Add Medication
          </button>
          <button class="btn btn-secondary mr-1 menu-buttons">
            Print Report
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <img class="user-menu-icon" src="assets/userIcon.svg" alt="UserIcon" />
      <div class="btn-toolbar">
        <div class="btn-group">
          <button class="btn btn-secondary mr-1 menu-buttons">Edit User</button>
          <button class="btn btn-danger mr-1 menu-buttons" (click)="logout()">
            Log Out
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
