.container {
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.menu-icon {
    margin-top: 20px;
    width: 10vw;
}

.medicine-menu-icon {
    margin-top: 20px;
    margin-bottom: 10px;
    width: 5vw;
}

.user-menu-icon {
    margin-top: 20px;
    margin-bottom: 10px;
    width: 7vw;
}



.menu-buttons {
    font-size: clamp(10pt, 2vw, 20pt);
    min-width: min-content;
    width: fit-content;
    height: fit-content;
}

